/* CertificadosStyles.css */
.certificados-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .certificado-card {
    width: 300px;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f4f4f4;
  }
  
  .certificado-button {
    background-color: #0077b6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .certificado-button:hover {
    background-color: #00537e;
  }
  