/* Asegura que el cuerpo (body) y el HTML ocupen toda la pantalla */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  /* Establece un fondo de color azul claro para toda la pantalla */
  body {
    background: linear-gradient(to bottom right, #b3d9ff, #ffffff); /* Cambia los colores a tu preferencia */
  }
.home-container {
    text-align: center;
    padding: 20px;
    
    height: 100%; /* Ocupará toda la altura de la pantalla */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home-container h1 {
    font-size: 36px; /* Tamaño de fuente aún más grande para el encabezado h1 */
    font-weight: bold; /* Texto en negrita para el encabezado h1 */
  }
  
  .options-container {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .option {
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
  }
  
  .option h2 {
    font-size: 24px;
  }
  
  .option p {
    font-size: 16px;
  }
  .option.option-1 {
    background-color: #b3d9ff; /* Azul claro (igual al fondo) */
  }
  
  .option.option-2 {
    background-color: #ffcc99; /* Naranja claro */
  }
  
  .option.option-3 {
    background-color: #99ff99; /* Verde claro */
  }
  
  .option.option-4 {
    background-color: #ff99cc; /* Rosa claro */
  }
  
  .option.option-5 {
    background-color: #ccccff; /* Morado claro */
  }
  .option h2 {
    font-size: 24px;
    color: #ff6600; /* Color naranja para los títulos h2 */
    margin-bottom: 10px; /* Agrega espacio inferior para separar los títulos de los párrafos */
  }
  .button {
    background-color: #ff6600; /* Color naranja para los botones */
    color: white; /* Texto en color blanco para contraste */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 8px; /* Borde redondeado */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
  }
  
  .button:hover {
    background-color: #ff9933; /* Cambia el color al pasar el mouse */
  }