/* src/Components/MovilidadinternaClient.css */
.movilidad-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .offer-card {
    transition: transform 0.2s;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin-bottom: 1.5rem; /* Agrega espacio entre las tarjetas */
  }
  
  .offer-card:hover {
    transform: scale(1.05);
  }
  
  .card-title {
    font-weight: bold;
    color: #007bff;
  }
  
  .card-text {
    margin-bottom: 1.5rem;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
  }
  
  .apply-button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0.5rem 0;
    cursor: pointer;
    border-radius: 0.25rem;
    transition: background-color 0.2s;
  }
  
  .apply-button:hover {
    background-color: #0056b3;
  }
  
  .reject-button {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0.5rem 0;
    cursor: pointer;
    border-radius: 0.25rem;
    transition: background-color 0.2s;
  }
  
  .reject-button:hover {
    background-color: #c82333;
  }
  /* MovilidadInternGerente.css */

.movilidad-container {
  padding: 20px;
}

.offer-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button-container {
  margin-top: 10px;
}

.apply-button {
  background-color: #007bff;
  border: none;
  color: white;
}

.reject-button {
  background-color: #dc3545;
  border: none;
  color: white;
}

.create-offer-form {
  margin-top: 20px;
}

.create-button {
  background-color: #28a745;
  border: none;
  color: white;
}
